PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=kliente_db

JWT_SECRET=cambiar_este_valor_en_produccion
JWT_EXPIRES_IN=8h

APP_NAME=KLIENTE
APP_ENV=development
NODE_ENV=development

ROOT_DOMAIN=kliente.cl
DEFAULT_PUBLIC_SLUG=demo
FRONTEND_URLS=http://localhost:5173,http://127.0.0.1:5173

MITNICK_MASTER_USERNAME=mitnick
MITNICK_MASTER_PASSWORD=cambiar_este_valor_en_produccion
MITNICK_MASTER_PIN=cambiar_este_valor_en_produccion

KLIENTE_RESET_PASSWORD=cambiar_este_valor_en_produccion